h2, th, td {
    color: white;
    font-family: Merriweather;
}
table{
    background-color: white;
    border-color: #141a06;
    border-radius: 0px;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: Merriweather;
    text-decoration: none;
    color: white;
}

.button-row {
    display: flex;
    line-height: 40px;
    margin-left: -48px;
    padding: 15px 32px;
}
[type=submit]:not(:disabled) {
    cursor: pointer;
    border-radius: 16px;
}
