[type=submit]:not(:disabled) {
    cursor: pointer;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 16px;
}
select {
    word-wrap: normal;
    padding-left: 17px;
    padding-right: 30px;
    padding-top: 5px;
    margin-left: 8px;
    border-radius:16px;
}
input {
    margin: 0;
    font-family: 'Merriweather';
    font-size: 16px;
    line-height: 23px;
    margin-left: 16px;
    margin-bottom: 10px;
    border-radius: 16px;
}
body {
    font-family: Merriweather;
    font-size: 18px;
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-white);
    text-align: center;
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}